/* Master Styles */
a {
	color:#000;
	text-decoration: none;
}
a:hover {
	color:#444;
}
input:focus {
	outline: none;
}


header#header {
	border-bottom:1px solid #eaeaea;
	line-height: 65px;
}

#logo {
	float: left;
	text-decoration: none;
	color:#000;
	font-size: 30px;
	font-weight: 700;
	padding: 0 25px;
	border-right: 1px solid #eaeaea
}
#logo:hover {
	color:#444
}

#mainMenu {
	border-left:1px solid #eaeaea;
	float: right;
	list-style: none;
	padding: 0 15px;
	margin: 0;
}

#mainMenu li {
	display: inline-block;
	padding: 0 15px;
}

#formSettings, #mapContainer {
	position: fixed;
	top: 65px;
	width: 50%;
	bottom: 0;
}

#mapContainer {
	left: auto;
	right: 0;
}

#map{
	width: 100%;
	height: 100%;
}

#formSettings {
	padding: 45px
}

#mapSearchWrapper {
	display: table-cell;
	width: 10000px;
}

#mapSearch {
	border:none;
	padding: 0;
	line-height: 65px;
	text-align: center;
	width: 100%;
	font-size: 24px;
}

#mapSearch:hover {
	background: #fafafa
}
